.article{
    border: 10px solid black;
    background-color: lightsalmon;
    margin: 40px;
    width: 500px;
    box-shadow: 20px 20px 5px grey;

    /* First value of box-shadow is horizontal offset, Second is vertical offset, Third is blur radius */
}

.header{
    background-color: lightgreen;
    height: 1100px;
    background-image: url('/css/images/download\ \(2\).jpg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-position: left bottom; */
}