.blog{
    background-color: pink;
}

h2{
    text-decoration: underline;
}

#second-blog{
    background-color: lightblue;
    /* display: none; */
    visibility: hidden;
}

#Poss{
    color: red;
    border: 4px solid purple;
    /* margin: 30px; */
    /* padding: 50px; */
    width: 200px;
    height: 300px;
    display: block;
}

li{
    display: inline;
}